<div class="container">
    <div class="header">
      <h4 class="text-center text-info">Anulados / Recusados </h4>
      <br/>
    </div>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Status<a</th>
          <th scope="col">Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of elementos">
          <th scope="row"><a routerLink="/det/{{e.lead}}">{{e.lead}}</a></th>
          <td>{{e.nome}}</td>
          <td>{{e.telefone}}</td>
          <td>{{e.email}}</td>
          <td>{{e.status}}</td>
          <td >{{e.datastatus}}</td>
          <td>
              <button class="btn btn-outline-success btn-sm" (click)="reativar(e)" title="Recuperar"><i class="fa fa-check"></i></button>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-outline-warning" routerLink="/" title="Voltar à pagina inicial"><i class="fa fa-undo"></i> Voltar</a>
    </div>
  </div>

